{% extends 'accounts/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <h2>Register</h2>
  <form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">{{ form.username.label_tag }} {{ form.username }}</div>
    <div class="col-md-6">{{ form.email.label_tag }} {{ form.email }}</div>
    <div class="col-md-6">{{ form.password.label_tag }} {{ form.password }}</div>
    <div class="col-md-6">{{ form.confirm_password.label_tag }} {{ form.confirm_password }}</div>
    <div class="col-12"><button class="btn btn-primary" type="submit">Register</button></div>
  </form>
{% endblock %}